flows_device_auth.json
[{"id":"bffd7f42.0bd4d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a307942.611fb68","type":"mqtt-broker","name":"lns","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fade50c0.1ea16","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a82df534.7cde68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cc37f16f.cd98f","type":"ui_group","name":"Classroom","tab":"fade50c0.1ea16","order":1,"disp":true,"width":"6","collapse":false},{"id":"19e11bbf.6e0604","type":"mqtt in","z":"bffd7f42.0bd4d","name":"","topic":"class/temperature/kelvin","qos":"2","datatype":"auto","broker":"a307942.611fb68","x":180,"y":240,"wires":[["e21e0b7e.9b8418","4c3ef548.93f24c"]]},{"id":"e21e0b7e.9b8418","type":"ui_text","z":"bffd7f42.0bd4d","group":"cc37f16f.cd98f","order":1,"width":0,"height":0,"name":"","label":"Kelvin","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":240,"wires":[]},{"id":"4c3ef548.93f24c","type":"function","z":"bffd7f42.0bd4d","name":"","func":"if(!isNaN(msg.payload)) {\n    msg.payload = (\"\" + Number(msg.payload) - 273).toFixed(2)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":340,"wires":[["1db828bf.d9c937"]]},{"id":"1db828bf.d9c937","type":"ui_text","z":"bffd7f42.0bd4d","group":"cc37f16f.cd98f","order":2,"width":0,"height":0,"name":"","label":"Celcius","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":340,"wires":[]},{"id":"efb03d1b.0e8b7","type":"ui_switch","z":"bffd7f42.0bd4d","name":"","label":"switch","tooltip":"","group":"cc37f16f.cd98f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":180,"y":160,"wires":[["9f9232b7.c72f5"]]},{"id":"9f9232b7.c72f5","type":"function","z":"bffd7f42.0bd4d","name":"","func":"node.warn(msg)\nif(msg.payload){\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":160,"wires":[["42acbf63.5608"]]},{"id":"42acbf63.5608","type":"mqtt out","z":"bffd7f42.0bd4d","name":"","topic":"class/lamp1","qos":"","retain":"","broker":"a307942.611fb68","x":550,"y":160,"wires":[]}]